/*elements*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul{padding-left:20px;padding-right:20px;}
li{list-style: none;}
details,summary{outline: none;}

/*Dynamic bootstrap Classes*/
.navbar a{color:white;}
.navbar a:hover{color:whitesmoke; text-decoration: none;}
.VirtualizedSelectOption {direction: rtl;}
.VirtualizedSelectFocusedOption{background:rgba(0, 0, 0, 0.05)}

